altgraph==0.17.4
colorama==0.4.6
ffmpy==0.5.0
halo==0.0.31
log-symbols==0.0.14
markdown-it-py==3.0.0
mdurl==0.1.2
natsort==8.4.0
packaging==25.0
pefile==2023.2.7
pyaes==1.6.1
pyfiglet==1.0.2
Pygments==2.19.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pymediainfo-pyrofork==6.0.2
pyrofork==2.3.61
PySocks==1.7.1
pywin32-ctypes==0.2.3
rich==14.0.0
six==1.17.0
spinners==0.0.24
termcolor==3.1.0
TgCrypto==1.2.5
tqdm==4.67.1
Unidecode==1.4.0